logs/
runlogs/
*.log
/.idea/google-java-format.xml
.idea
/server/core/.idea/
/.idea/
*.class
*.vscode
/target/
**/target/
*.LCKpom.xml~
dependency-reduced-pom.xml
logs/system.log
logs/net.log
/local-dev/.env
/local-dev/logs/
/local-dev/run/
/local-dev/work/
